.commentInput {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}
.commentInput > form {
  display: flex;
  flex-direction: column;
}
.commentInput__input {
  display: flex;
  padding: 20px;
}
.commentInput__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}
.commentInput__input > input:focus {
  outline: none;
}
.commentInput__buttonEnabled {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 75px !important;
  height: 40px !important;
  margin-left: auto !important;
}
.commentInput__buttonDisabled {
  opacity: 0.5;
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 75px !important;
  height: 40px !important;
  margin-left: auto !important;
}
