.profile {
  flex: 0.48;
  border-right: var(--twitter-background) 1px solid;
  min-width: fit-content;
  overflow-y: scroll;
}
.profile__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border-bottom: 1px solid var(--twitter-background);
  padding: 15px 20px;
  display: flex;
  align-items: center;
}
.profile::-webkit-scrollbar {
  display: none;
}
.profile__header > button {
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  color: var(--twitter-color);
  background: none;
  font-size: 20px;
  margin-right: 20px;
}
.profile__header > button:hover {
  background-color: #e8f5fe;
}
.profile__header > h2 {
  font-size: 20px;
  font-weight: 700;
}
.profile__body {
  padding: 0 80px;
}
.profile__iconButton {
  margin-top: 30px;
}
.profile__button {
  display: flex;
}
.profile__buttonEnabled {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 75px !important;
  height: 40px !important;
  margin-left: auto !important;
  margin-top: 20px !important;
}
.profile__buttonDisabled {
  opacity: 0.5;
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 75px !important;
  height: 40px !important;
  margin-left: auto !important;
  margin-top: 20px !important;
}
